:root {
  --light-beaver-gray: #bcb4ac; /* light */
  --pewter-light: #848484; /* grey-light */
  --pewter-gray: #6c6c6c; /* grey */
  --dark-shell-pink: #a14b51; /* red */
  --very-dark-cocoa: #624b45; /* cocoa */
  --black: #000000; /* dark */
}

.light {
  background-color: var(--light-beaver-gray);
}

.red {
  background-color: var(--dark-shell-pink);
}

.opacity-cell {
  opacity: 0.7;
}

.opacity-full {
  opacity: 1;
}

.logo {
  display: block;
  height: 200px;
  width: auto;
}

.header-top {
  background-color: var(--pewter-light);
  border-radius: 5px;
}

html body {
  height: 100%;
}

header {
  display: flex;
}

h1 {
  font-family: "Finger Paint", cursive;
}
h2 {
  padding: 0 10px 0 10px;
  font-family: "Chelsea Market", cursive;
}

button {
  font-family: "Carrois Gothic", sans-serif;
}

.current-question {
  font-family: "Chelsea Market", cursive;
  color: white;
  background-color: var(--dark-shell-pink);
  padding: 1%;
  border-radius: 5px;
}

.answer-list {
  font-family: "Carrois Gothic", sans-serif;
}

.gameOverForm {
  background-color: var(--dark-shell-pink);
  color: white;
  padding: 1%;
  border-radius: 5px;
}

.parallax {
  /* Background Image */
  background-image: url("https://cdn.pixabay.com/photo/2020/05/29/13/55/abandon-5235255_960_720.jpg");

  /* Extend Full Height */
  height: 100%;

  /* Creates Parallax Scrolling Effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.game-over {
  height: 125px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}

.table {
  max-width: 80%;
}

.table th,
.table td {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  #jokeTriviaFull {
    display: none;
  }
}
