:root   {
  --light-beaver-gray: #bcb4ac; /* light */
  --pewter-light: #848484; /* grey-light */
  --pewter-gray: #6c6c6c; /* grey */
  --dark-shell-pink: #a14b51; /* red */
  --very-dark-cocoa: #624b45; /* cocoa */
  --black: #000000; /* dark */
  }
  
  .light {
  background-color: var(--light-beaver-gray);
  
  }
  
  .grey-light {
  background-color: var(--pewter-light);
  }
  
  .opacity-cell {
  opacity: 0.7;
  }
  
  .opacity-full {
  opacity: 1;
  }

#logo {
  display: block;
  height: 200px;
  width: auto;
}

html body {
  height: 100%;
}

header {
  display: flex;
}

h1 {
  font-family: "Finger Paint", cursive;
}
h2 {
  padding: 0 10px 0 10px;
  font-family: "Chelsea Market", cursive;
}

button {
  font-family: "Carrois Gothic", sans-serif;
}

.current-question {
  font-family: "Chelsea Market", cursive;
}

.answer-list {
  font-family: "Carrois Gothic", sans-serif;
}

.parallax {
  /* The image used */
  background-image: url("https://cdn.pixabay.com/photo/2020/05/29/13/55/abandon-5235255_960_720.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  #jokeTriviaFull {
    display: none;
  }
}
